---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import PdfViewer from "../../components/PdfViewer.astro";
import Accordion from "../../components/documents/Accordion.astro";

const accordionItems = [
  {
    title: "Assets",
    items: [
      {
        title: "Bank Statement",
        href: "#get-approved",
      },
      {
        title: "2023 W-2 Form",
        href: "#make-an-offer",
      },
    ],
  },
  {
    title: "Income",
    items: [
      {
        title: "Bank Statement",
        href: "#get-approved",
      },
      {
        title: "2023 W-2 Form",
        href: "#make-an-offer",
      },
    ],
  },
  {
    title: "Debts",
    items: [
      {
        title: "Bank Statement",
        href: "#get-approved",
      },
      {
        title: "2023 W-2 Form",
        href: "#make-an-offer",
      },
    ],
  },
  {
    title: "Reports",
    items: [
      {
        title: "Bank Statement",
        href: "#get-approved",
      },
      {
        title: "2023 W-2 Form",
        href: "#make-an-offer",
      },
    ],
  },
];
---

<Layout title="Bloomsday">
  <div class="pt-5 px-6 pb-2">
    <p class="neue text-darkgreen text-lg font-bold leading-5">
      Documents > Get Approved
    </p>
    <div class="pr-4 pb-4 gap-4 mt-9 flex">
      <Icon name="myhouse" width={58} height={55} />
      <div class="flex flex-col">
        <div class="flex">
          <p class="text-base leading-4 text-darkgreen mt-2">My Home</p>
          <div class="flex mt-2 ml-2">
            <Icon name="edit" width={20} height={21} />
          </div>
        </div>
        <p class="leading-6 text-2xl font-medium text-darkgreen mt-[-4px]">
          400 Eighth Avenue, Denver, CO 80203
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-7 gap-x-12 pl-3 pr-3 mt-3">
    <div class="col-span-2">
      <button
        class="flex justify-center bg-darkgreen rounded-lg gap-5 py-3 w-full"
      >
        <Icon name="share" width={24} height={24} class="shrink-0" />
        <span class="text-white">Share Document Package</span>
      </button>
      <div class="mt-8">
        <Accordion accordionItems={accordionItems} />
      </div>
    </div>
    <div class="col-span-5 border border-sage rounded-lg">
      <PdfViewer
        url="https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf"
      />
    </div>
  </div>
</Layout>
