---
import Layout from "../layouts/Layout.astro";
import ShowAddress from "../components/ShowAddress.astro";
Astro.redirect('/progress-tracker/get-prepared');
---

<Layout title="Bloomsday">
  <div class="relative dropdown">
    <div class="py-3 px-6 flex gap-7 flex-col">
      <ShowAddress
        breadcrumbs={[
          { title: "Home", url: "#" },
          { title: "Process Name", url: "#" },
        ]}
      />
    </div>
  </div>
</Layout>
