---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Accordion from "../components/Accordion.astro";

const accordionItems = [
  {
    headerPrefix: "Step 1:",
    header: "Get Approved",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
  {
    headerPrefix: "Step 2:",
    header: "Make an Offer",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
  {
    headerPrefix: "Step 3:",
    header: "Escrow",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
  {
    headerPrefix: "Step 4:",
    header: "Closing",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
  {
    headerPrefix: "Step 5:",
    header: "Moving In",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.",
  },
];
---

<Layout title="Bloomsday">
  <div class="py-9 px-6">
    <p class="neue text-darkgreen text-lg font-bold leading-5">
      Home > Progress Tracker
    </p>
    <div class="pr-4 pt-2 pb-4 gap-4 mt-9 flex">
      <Icon name="myhouse" width={58} height={55} />
      <div class="flex flex-col items-baseline">
        <div class="flex">
          <p class="text-base leading-4 text-darkgreen mt-2.5">My Home</p>
          <div class="flex mt-2 ml-2">
            <Icon name="edit" width={20} height={21} />
          </div>
        </div>

        <p class="text-xl font-medium text-darkgreen">
          Street, City, State 00000
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-row mx-6 p-8 border border-sage rounded-md">
    <div class="basis-1/4">
      <Accordion items={accordionItems} />
    </div>
    <div class="basis-3/4"></div>
  </div>
</Layout>
