---
import OnboardingLayout from "../layouts/OnboardingLayout.astro";
import { SignUp } from "astro-clerk-auth/components/interactive";
---

<OnboardingLayout title="Bloomsday: Sign-Up">
  <div
    class="flex flex-col grow justify-center items-center px-20 pb-16 w-full text-base font-medium leading-6 text-green-900 bg-cream max-md:px-5 max-md:max-w-full"
  >
    <h1 class="mt-20 text-4xl leading-10 text-center max-md:mt-10">
      Welcome to Bloomsday
    </h1>
    <p class="mt-5 text-center text-black">Get started today for free!</p>
    <div
      class="flex justify-center items-center px-4 py-3.5 mt-11 max-w-full text-center rounded-xl bg-stone-50 w-[404px] max-md:px-5 max-md:mt-10"
    >
      <div class="flex gap-4">
        <SignUp />
      </div>
    </div>
    <p class="mt-7 text-sm text-center underline">
      <span class="text-xs leading-4 text-green-900"
        >By proceeding, you agree to the
      </span>
      <a href="#" class="text-xs leading-4 text-green-900 underline"
        >Terms of Service</a
      >
      <span class="text-xs leading-4 text-green-900"> and </span>
      <a href="#" class="text-xs leading-4 text-green-900 underline"
        >Privacy Policy</a
      >
    </p>
    <p class="mt-48 text-base text-center underline max-md:mt-10">
      <span class="text-green-900">Already have an account? </span>
      <a href="/sign-in" class="text-green-900 underline">Sign-in</a>
    </p>
  </div>
</OnboardingLayout>
