<div class="border border-sage rounded-lg w-2/4 py-6 px-5 ml-6 mt-3">
  <p class="text-1.5xl font-bold text-darkgreen leading-5">Activity Feed</p>
  <div class="flex items-center mt-4 text-darkgreen">
    <div class="flex flex-col items-center flex-none w-11">
      <p class="leading-none font-medium text-0.5xs">Feb</p>
      <p class="leading-none font-medium text-base">19</p>
    </div>
    <p class="grow w-99 text-base font-medium leading-4 ml-2">
      Account setup, <span class="font-normal italic">Jane Doe</span>
    </p>
  </div>
  <div class="flex items-center mt-4 text-darkgreen">
    <div class="flex flex-col items-center flex-none w-11">
      <p class="leading-none font-medium text-0.5xs">Feb</p>
      <p class="leading-none font-medium text-base">19</p>
    </div>
    <p class="grow w-99 text-base font-medium leading-4 ml-2">
      <span class="underline underline-offset-1">Bank Statement</span> uploaded druing
      account setup, <span class="font-normal italic">Jane Doe</span>
    </p>
  </div>
  <div class="flex items-center mt-4 text-darkgreen">
    <div class="flex flex-col items-center flex-none w-11">
      <p class="leading-none font-medium text-0.5xs">Feb</p>
      <p class="leading-none font-medium text-base">19</p>
    </div>
    <p class="grow w-99 text-base font-medium leading-4 ml-2">
      <span class="underline underline-offset-1">W-2Form</span> uploaded druing account
      setup,
      <span class="font-normal italic">John Doe</span>
    </p>
  </div>
</div>
