---
import AddFileDropupButton from "./AddFileDropupButton.astro";
import Dialog from "./Dialog.astro";
import DocumentUploader from "./react/DocumentUploader";
const user = await Astro.locals.currentUser();
---

<div id="add-files">
  <AddFileDropupButton />
  <Dialog
    id="add-documents-dialog"
    title="Upload Document"
    width="449px"
    height="593px"
  >
    <div class="py-4">
      <DocumentUploader currentUser={user} mode="upload" client:only="react" />
    </div>
  </Dialog>
</div>

<script>
  const addDocumentsDialog = document.querySelector("#add-documents-dialog");
  const addFilesRoot = document.querySelector("#add-files");
  addFilesRoot.addEventListener("add-files:document", () => {
    addDocumentsDialog.setAttribute("open", "true");
  });
</script>
