---
import AddFileDropupButton from "./AddFileDropupButton.astro";
import Dialog from "./Dialog.astro";
import DocumentsUploader from "./react/DocumentsUploader";
const user = await Astro.locals.currentUser();
---

<div id="add-files">
  <AddFileDropupButton />
  <Dialog
    id="add-documents-dialog"
    title="Upload Your Documents"
    description="Upload your files and we’ll determine where they belong in your portal. You can always resort them later if you wish."
    width="900px"
    height="574px"
  >
    <div class="py-4">
      <DocumentsUploader currentUser={user} client:only="react" />
    </div>
  </Dialog>
</div>

<script>
  const addDocumentsDialog = document.querySelector("#add-documents-dialog");
  const addFilesRoot = document.querySelector("#add-files");
  addFilesRoot.addEventListener("add-files:document", () => {
    addDocumentsDialog.setAttribute("open", "true");
  });
</script>
