---
import AddFileDropupButton from "./AddFileDropupButton.astro";
import Dialog from "./Dialog.astro";
import DocumentUploader from "./react/DocumentUploader";
const user = await Astro.locals.currentUser();
---

<div id="add-file">
  <AddFileDropupButton />
  <Dialog
    id="add-document-dialog"
    title="Upload Your Documents"
    description="Upload your files and we’ll determine where they belong in your portal. You can always resort them later if you wish."
    width="900px"
    height="574px"
  >
    <div class="py-4">
      <DocumentUploader currentUser={user} client:only="react" />
    </div>
  </Dialog>
</div>

<script>
  const addDocumentDialog = document.querySelector("#add-document-dialog");
  const addFileRoot = document.querySelector("#add-file");
  addFileRoot.addEventListener("add-file:document", () => {
    addDocumentDialog.setAttribute("open", "true");
  });
</script>
