---
import { Icon } from "astro-icon/components";
---

<div class="relative">
  <input
    type="text"
    class="bg-putty placeholder-darkgreen rounded-lg block w-full pe-10 pl-9 py-3.5"
    placeholder="What can we help you with...."
  />
  <div
    class="absolute inset-y-0 end-0 flex items-center pe-3.5 pointer-events-none"
  >
    <Icon name="wizard" width={24} height={25} />
  </div>
</div>
