---
import SearchComponent from "../components/react/SearchComponent.jsx";
import algoliasearch from "algoliasearch/lite";

const user = await Astro.locals.currentUser();
const userId = user.id;

const algoliaSearchKey = import.meta.env.ALGOLIA_SEARCH_KEY;
const client: any = algoliasearch(
  import.meta.env.PUBLIC_ALGOLIA_APP_ID,
  import.meta.env.ALGOLIA_ADMIN_KEY
);
const expiresIn = Math.floor(Date.now() / 1000) + 24 * 60 * 60;
const securedApiKey = client.generateSecuredApiKey(algoliaSearchKey, {
  filters: `user_id:${userId}`,
  validUntil: expiresIn,
});
---

<div class="relative">
    <SearchComponent {securedApiKey} client:only="react" />
</div>
