---
import { Icon } from "astro-icon/components";
---

<div class="border-b border-sage px-1">
  <ul class="flex items-center gap-3">
    <li class="me-2">
      <a href="#" class="flex items-center gap-2 group">
        <Icon name="kanban" width={25} height={25} class="shrink-0" />
        <p class="text-base font-medium text-darkgreen py-4 border-b-2 border-b-darkgreen">Board</p>
      </a>
    </li>
    <li class="me-2">
      <a href="#" class="flex items-center gap-2" aria-current="page">
        <Icon name="table" width={25} height={25} class="shrink-0" />
        <p class="text-base font-medium text-darkgreen py-4">Table</p>
      </a>
    </li>
  </ul>
</div>
