---
import Layout from "../../layouts/Layout.astro";
import TaskListContent from "../../components/react/kanban/TaskListContent";
import ShowAddress from "../../components/ShowAddress.astro";

const { id } = Astro.params;
console.log("1111", id);
const transformString = (inputString) => {
  // Split the input string into an array of words using the '-' character as the delimiter
  const words = inputString.split("-");
  // Capitalize the first character of each word and concatenate them with a space
  const transformedString = words
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
  return transformedString;
};
const breadcrumbs_title = transformString(id);

const user = await Astro.locals.currentUser();
---

<Layout title="Bloomsday">
  <div class="relative dropdown">
    <div class="py-3 px-6 flex gap-7 flex-col">
      <div class="neue text-darkgreen text-lg font-bold leading-5">
        <ShowAddress
          breadcrumbs={[
            { title: "Tasks", url: "#" },
            { title: breadcrumbs_title, url: "#" },
          ]}
        />
        <TaskListContent currentUser={user} client:only="react" id={id} />
      </div>
    </div>
  </div>
</Layout>
