@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }
}

html {
  font-family: "NeueMontreal";
}

.hidden {
  display: none;
}

.ais-SearchBox-border {
  border-radius: 2px;
}

.ais-SearchBox-form,
.ais-SearchBox-input,
.ais-SearchBox-submit,
.ais-SearchBox-submitIcon,
.ais-SearchBox-reset,
.ais-SearchBox-resetIcon,
.ais-SearchBox-loadingIndicator,
.ais-SearchBox-loadingIcon {
  background-color: transparent !important;
  border: none !important;
}

.ais-SearchBox-resetIcon,
.ais-SearchBox-loadingIcon {
  display: none !important;
}

.ais-SearchBox-input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.ais-SearchBox-submit .ais-SearchBox-submitIcon path {
  fill: var(--placeholder-darkgreen);
}

.ais-SearchBox-input:focus {
  outline: none;
  border-color: transparent;
}

.ais-SearchBox {
  display: flex;
  align-items: center;
}

.ais-SearchBox-input {
  flex: 1;
  width: 97%;
}

.ais-SearchBox-form {
  width: 100%;
}

.ais-SearchBox-submitIcon {
  margin-left: auto;
}

.ais-SearchBox-input::placeholder {
  color: #1c4835;
}

.search-container {
  position: relative;
  width: 100%;
}

.ais-SearchBox-form {
  position: relative;
  z-index: 10;
}

.ais-Hits {
  position: absolute; 
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style individual hit items */
.ais-Hits-item {
  margin: 5px 20px;
  display: flex;
  align-items: center;
  padding: 15px;
}



.ais-Hits-item:hover {
  background-color: #FAF9F4;
  width: calc(100% - 40px);
}

.ais-Hits-item .icon {
  width: 30px;
  height: 30px;
  background-color: gray;
  margin-right: 10px;
}

.ais-Hits-item .name {
  flex-grow: 1;
}

.hit-container {
  display: flex;
  align-items: center;
}

.hit-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #1C4835;
}

.hit-filename {
  margin-right: 7px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #1C4835;
}

.hit-iname {
  padding-top: 3px;
  color: #C1C7CD;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  background: #eaf1e6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9fbcad;
  border-radius: 10px;
}

.dropdown-menu {
  box-shadow: 0px 0px 20px 0px rgba(28, 72, 53, 0.24);
  margin-top: 7px;
}

.dropdown-menu::before {
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 140px;
  position: absolute;
  top: -14px;
}

.dropdown-menu::after {
  border-bottom: 14px solid #ffffff;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 140px;
  position: absolute;
  top: -14px;
}

.status-dropdown {
  box-shadow: 0px 0px 20px 0px rgba(28, 72, 53, 0.24);
  margin-top: 7px;
}

.status-dropdown::before {
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 80px;
  position: absolute;
  top: -14px;
}

.status-dropdown::after {
  border-bottom: 14px solid #ffffff;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 80px;
  position: absolute;
  top: -14px;
}

.sort-dropdown {
  box-shadow: 0px 0px 20px 0px rgba(28, 72, 53, 0.24);
  margin-top: 7px;
}

.sort-dropdown::before {
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 150px;
  position: absolute;
  top: -14px;
}

.sort-dropdown::after {
  border-bottom: 14px solid #ffffff;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 150px;
  position: absolute;
  top: -14px;
}

.raf-icon-badge svg {
  fill: none !important;
}

.scrollbar-hide {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #9fbcad #f1f1f1; /* For Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: #9fbcad;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #9fbcad;
  border-radius: 4px;
  border: 2px solid #9fbcad; /* Matches the track color */
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background-color: #9fbcad;
}

.markdown h2,
.markdown h3 {
  color: #1c4835;
}

.cl-formButtonPrimary {
  @apply bg-darkgreen isolation-auto;
}
.cl-formButtonPrimary:hover {
  @apply bg-darkgreen cursor-pointer;
}
.cl-formFieldLabel,
.cl-headerTitle,
.cl-headerSubtitle,
.cl-socialButtonsBlockButtonText,
.cl-dividerText,
.cl-footerActionText,
.cl-footerActionLink,
.cl-internal-wf8x4b {
  @apply text-darkgreen;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("/icons/chevron-up-down.svg");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 32px;
  padding: 1rem;
  padding-right: 32px;
}
bd-pdf-viewer {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

bd-pdf-viewer canvas {
  height: auto;
}

.date-picker {
  box-shadow: 0px 0px 20px 0px rgba(28, 72, 53, 0.24);
}

.date-picker::before {
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  right: 40px;
  position: absolute;
  top: -14px;
}

.date-picker::after {
  border-bottom: 14px solid #ffffff;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  right: 40px;
  position: absolute;
  top: -14px;
}

.react-datepicker {
  @apply flex justify-center items-start border-0 !important;
}

.react-datepicker__header {
  @apply bg-white border-b-0 !important;
}

.react-datepicker__month-container {
  @apply flex flex-col w-full !important;
}

.react-datepicker__day-names,
.react-datepicker__week {
  @apply flex items-center justify-between !important;
}

.react-datepicker__day-names {
  @apply mt-5;
}

.react-datepicker__month {
  @apply p-0 m-0 !important;
}

.react-datepicker__day {
  @apply text-darkgreen text-sm py-1.5 font-medium  !important;
}

.react-datepicker__day--keyboard-selected {
  @apply border-0 bg-mint !important;
}

.react-datepicker__day-name {
  @apply text-sage text-xs font-medium !important;
}

.react-datepicker__day--outside-month {
  @apply invisible !important;
}

#pdf-viewer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid #ddd; /* Optional: for better visibility of the canvas boundary */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the spinning animation to the SVG */
.animate-spin {
  animation: spin 2s linear infinite;
}
